body{
	height:100%;
	overflow:hidden;
	margin:0px;
	background-image: url("./images/background.png");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	text-align: center;
} 

.text{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 125%;
}

#gif{
	
    display:block;
    margin-left: auto;
    margin-right: auto;
	width:50%;

	margin-top: 50px;
	margin-bottom: 50px;
}

#music{
    display: none;
} 
